{% extends "public/templates/public_template.html" %}

{% block title %}Add Child Information{% endblock %}

{% block main %}

<div class="container">
  <div class="row">
    <div class="col">
		<div class="content-section">
			<form method ="POST" enctype="multipart/form-data">
				{{ form.hidden_tag() }}
				<fieldset class="form-group">
					<legend class = "border-bottom mb-4"> Child Info</legend>
						<div class="row">
							<div class = "col-sm">
								<div class = "form-group">
									{{ form.cfirst.label(class="form-control-label") }}
									{% if form.cfirst.errors %}	
										{{ form.cfirst(class="form-control form-control-lg is-invalid") }}
										<div class="invalid-feedback">
											{% for error in form.cfirst.errors %}
												<span>{{ error }}</span>
											{% endfor %}
										</div>
									{% else %}
										{{ form.cfirst(class="form-control form-control-lg") }}
									{% endif %}
								</div>
							</div>
							<div class = "col-sm">
		                    	<div class = "form-group">
				                    {{ form.clast.label(class="form-control-label") }}
    	        			        {% if form.clast.errors %}	
        	                			{{ form.clast(class="form-control form-control-lg is-invalid") }}
				                        <div class="invalid-feedback">
            				                {% for error in form.clast.errors %}
                    	    			        <span>{{ error }}</span>
			            	                {% endfor %}
            			    	        </div>
			                    	{% else %}
            			            	{{ form.clast(class="form-control form-control-lg") }}
	                			    {% endif %}
			                    </div>
							</div>
						</div>
						<div class="row">
							<div class = "col-sm">
	                    		<div class = "form-group">
 			                    	{{ form.cgender.label(class="form-control-label") }}
									{% if form.cgender.errors %}	
                        			    {{ form.cgender(class="form-control form-control-lg is-invalid") }}
			                            <div class="invalid-feedback">
            			                    {% for error in form.cgender.errors %}
                        			            <span>{{ error }}</span>
			                                {% endfor %}
            			                </div>
                        			{% else %}
			                            {{ form.cgender(class="form-control form-control-lg") }}
            			            {% endif %}
			                    </div>
							</div>
							<div class = "col-sm">
								<div class = "form-group">
    			                    {{ form.cgrade.label(class="form-control-label") }}
                			        {% if form.cgrade.errors %}	
                            			{{ form.cgrade(class="form-control form-control-lg is-invalid") }}
			                            <div class="invalid-feedback">
            			                    {% for error in form.cgrade.errors %}
                        			            <span>{{ error }}</span>
			                                {% endfor %}
            			                </div>
                        			{% else %}
			                            {{ form.cgrade(class="form-control form-control-lg") }}
            			            {% endif %}
			                    </div>
							</div>
						</div>
                    <div class = "form-group">
                        {{ form.cbirthday.label(class="form-control-label") }}
                        {% if form.cbirthday.errors %}	
                            {{ form.cbirthday(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.cbirthday.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.cbirthday(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
					<div class = "form-group">
						{{ form.email.label(class="form-control-label") }}
						{% if form.email.errors %}	
							{{ form.email(class="form-control form-control-lg is-invalid") }}
							<div class="invalid-feedback">
								{% for error in form.email.errors %}
									<span>{{ error }}</span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.email(class="form-control form-control-lg") }}
						{% endif %}
					</div>
				</fieldset>
				<div class ="form-group">
					{{ form.submit(class="btn btn-outline-info")}}
				</div>
			</form>
    	</div>
  	</div>
</div>

{% endblock %}
